body > #siteWrapper > main:not(.nesting) > #mainContent > #textSide > figure {
    /* var(--padding) === 2rem */

    /* Grid Ad Container */
    @container ads-container (width > calc(160px + 4rem)) and (height > calc(50px + 5rem)) {
        > div {
            display: flex;
            flex-flow: row wrap;

            /* large-rectangle ads */
            @container ads-container (width > calc(336px + 4rem)) and (height > calc(280px + 5rem)) {
                @container ads-container (height > calc((1 * (280px + 1rem)) + 4rem)) { /* Row 1 */
                    
                    /* Explanation of width calculations: 
                    * 336px (ad width) + 2rem (padding) + 1rem (gap between ads)
                    * Fixed: padding => 2rem
                    * Per ad: width + (gap between ads - 1rem)
                    * (336px) + 2rem => 1 ads
                    * (336px) + (336px + 1rem) + 2rem => 2 ads
                    * (336px) + (336px + 1rem) + (336px + 1rem) + 2rem => 3 ads
                    * Therefore... ((3 * (336px + 1rem)) - 1rem + 2rem)
                    */

                    @container ads-container (width > calc(1 * (336px + 1rem) + 1rem)) { /* Column 1 */
                        > picture.large-rectangle:nth-child(21) { display: block; }
                    }
                    
                    @container ads-container (width > calc(2 * (336px + 1rem) + 1rem)) { /* Column 2 */
                        > picture.large-rectangle:nth-child(22) { display: block; }
                    }
                    
                    @container ads-container (width > calc(3 * (336px + 1rem) + 1rem)) { /* Column 3 */
                        > picture.large-rectangle:nth-child(23) { display: block; }
                    }
                    
                    @container ads-container (width > calc(4 * (336px + 1rem) + 1rem)) { /* Column 4 */
                        > picture.large-rectangle:nth-child(24) { display: block; }
                    }
                    
                    @container ads-container (width > calc(5 * (336px + 1rem) + 1rem)) { /* Column 5 */
                        > picture.large-rectangle:nth-child(25) { display: block; }
                    }
                    
                    @container ads-container (width > calc(6 * (336px + 1rem) + 1rem)) { /* Column 6 */
                        > picture.large-rectangle:nth-child(26) { display: block; }
                    }
                }

                @container ads-container (height > calc((2 * (280px + 1rem)) + 4rem)) { /* Row 2 */
                    @container ads-container (width > calc(1 * (336px + 1rem) + 1rem)) { /* Column 1 */
                        > picture.large-rectangle:nth-child(27) { display: block; }
                    }
                    
                    @container ads-container (width > calc(2 * (336px + 1rem) + 1rem)) { /* Column 2 */
                        > picture.large-rectangle:nth-child(28) { display: block; }
                    }
                    
                    @container ads-container (width > calc(3 * (336px + 1rem) + 1rem)) { /* Column 3 */
                        > picture.large-rectangle:nth-child(29) { display: block; }
                    }
                    
                    @container ads-container (width > calc(4 * (336px + 1rem) + 1rem)) { /* Column 4 */
                        > picture.large-rectangle:nth-child(30) { display: block; }
                    }
                    
                    @container ads-container (width > calc(5 * (336px + 1rem) + 1rem)) { /* Column 5 */
                        > picture.large-rectangle:nth-child(31) { display: block; }
                    }
                    
                    @container ads-container (width > calc(6 * (336px + 1rem) + 1rem)) { /* Column 6 */
                        > picture.large-rectangle:nth-child(32) { display: block; }
                    }
                }

                @container ads-container (height > calc((3 * (280px + 1rem)) + 4rem)) { /* Row 3 */
                    @container ads-container (width > calc(1 * (336px + 1rem) + 1rem)) { /* Column 1 */
                        > picture.large-rectangle:nth-child(33) { display: block; }
                    }
                    
                    @container ads-container (width > calc(2 * (336px + 1rem) + 1rem)) { /* Column 2 */
                        > picture.large-rectangle:nth-child(34) { display: block; }
                    }
                    
                    @container ads-container (width > calc(3 * (336px + 1rem) + 1rem)) { /* Column 3 */
                        > picture.large-rectangle:nth-child(35) { display: block; }
                    }
                    
                    @container ads-container (width > calc(4 * (336px + 1rem) + 1rem)) { /* Column 4 */
                        > picture.large-rectangle:nth-child(36) { display: block; }
                    }
                    
                    @container ads-container (width > calc(5 * (336px + 1rem) + 1rem)) { /* Column 5 */
                        > picture.large-rectangle:nth-child(37) { display: block; }
                    }
                    
                    @container ads-container (width > calc(6 * (336px + 1rem) + 1rem)) { /* Column 6 */
                        > picture.large-rectangle:nth-child(38) { display: block; }
                    }
                }

                @container ads-container (height > calc((4 * (280px + 1rem)) + 4rem)) { /* Row 4 */
                    @container ads-container (width > calc(1 * (336px + 1rem) + 1rem)) { /* Column 1 */
                        > picture.large-rectangle:nth-child(39) { display: block; }
                    }
                    
                    @container ads-container (width > calc(2 * (336px + 1rem) + 1rem)) { /* Column 2 */
                        > picture.large-rectangle:nth-child(40) { display: block; }
                    }
                    
                    @container ads-container (width > calc(3 * (336px + 1rem) + 1rem)) { /* Column 3 */
                        > picture.large-rectangle:nth-child(41) { display: block; }
                    }
                    
                    @container ads-container (width > calc(4 * (336px + 1rem) + 1rem)) { /* Column 4 */
                        > picture.large-rectangle:nth-child(42) { display: block; }
                    }
                    
                    @container ads-container (width > calc(5 * (336px + 1rem) + 1rem)) { /* Column 5 */
                        > picture.large-rectangle:nth-child(43) { display: block; }
                    }
                    
                    @container ads-container (width > calc(6 * (336px + 1rem) + 1rem)) { /* Column 6 */
                        > picture.large-rectangle:nth-child(44) { display: block; }
                    }
                }

                @container ads-container (height > calc((5 * (280px + 1rem)) + 4rem)) { /* Row 5 */
                    @container ads-container (width > calc(1 * (336px + 1rem) + 1rem)) { /* Column 1 */
                        > picture.large-rectangle:nth-child(45) { display: block; }
                    }
                    
                    @container ads-container (width > calc(2 * (336px + 1rem) + 1rem)) { /* Column 2 */
                        > picture.large-rectangle:nth-child(46) { display: block; }
                    }
                    
                    @container ads-container (width > calc(3 * (336px + 1rem) + 1rem)) { /* Column 3 */
                        > picture.large-rectangle:nth-child(47) { display: block; }
                    }
                    
                    @container ads-container (width > calc(4 * (336px + 1rem) + 1rem)) { /* Column 4 */
                        > picture.large-rectangle:nth-child(48) { display: block; }
                    }
                    
                    @container ads-container (width > calc(5 * (336px + 1rem) + 1rem)) { /* Column 5 */
                        > picture.large-rectangle:nth-child(49) { display: block; }
                    }
                    
                    @container ads-container (width > calc(6 * (336px + 1rem) + 1rem)) { /* Column 6 */
                        > picture.large-rectangle:nth-child(50) { display: block; }
                    }
                }

                @container ads-container (height > calc((6 * (280px + 1rem)) + 4rem)) { /* Row 6 */
                    @container ads-container (width > calc(1 * (336px + 1rem) + 1rem)) { /* Column 1 */
                        > picture.large-rectangle:nth-child(51) { display: block; }
                    }
                    
                    @container ads-container (width > calc(2 * (336px + 1rem) + 1rem)) { /* Column 2 */
                        > picture.large-rectangle:nth-child(52) { display: block; }
                    }
                    
                    @container ads-container (width > calc(3 * (336px + 1rem) + 1rem)) { /* Column 3 */
                        > picture.large-rectangle:nth-child(53) { display: block; }
                    }
                    
                    @container ads-container (width > calc(4 * (336px + 1rem) + 1rem)) { /* Column 4 */
                        > picture.large-rectangle:nth-child(54) { display: block; }
                    }
                    
                    @container ads-container (width > calc(5 * (336px + 1rem) + 1rem)) { /* Column 5 */
                        > picture.large-rectangle:nth-child(55) { display: block; }
                    }
                    
                    @container ads-container (width > calc(6 * (336px + 1rem) + 1rem)) { /* Column 6 */
                        > picture.large-rectangle:nth-child(56) { display: block; }
                    }
                }

                @container ads-container (height > calc((7 * (280px + 1rem)) + 4rem)) { /* Row 7 */
                    @container ads-container (width > calc(1 * (336px + 1rem) + 1rem)) { /* Column 1 */
                        > picture.large-rectangle:nth-child(57) { display: block; }
                    }
                    
                    @container ads-container (width > calc(2 * (336px + 1rem) + 1rem)) { /* Column 2 */
                        > picture.large-rectangle:nth-child(58) { display: block; }
                    }
                    
                    @container ads-container (width > calc(3 * (336px + 1rem) + 1rem)) { /* Column 3 */
                        > picture.large-rectangle:nth-child(59) { display: block; }
                    }
                    
                    @container ads-container (width > calc(4 * (336px + 1rem) + 1rem)) { /* Column 4 */
                        > picture.large-rectangle:nth-child(60) { display: block; }
                    }
                    
                    @container ads-container (width > calc(5 * (336px + 1rem) + 1rem)) { /* Column 5 */
                        > picture.large-rectangle:nth-child(61) { display: block; }
                    }
                    
                    @container ads-container (width > calc(6 * (336px + 1rem) + 1rem)) { /* Column 6 */
                        > picture.large-rectangle:nth-child(62) { display: block; }
                    }
                }
            }

            /* medium-rectangle ads */
            /* @container ads-container (width > calc(300px + 4rem)) and (height > calc(250px + 5rem)) {
                > picture.medium-rectangle:nth-of-type(46) {
                    display: block;
                }
            } */

            /* w:2800-3024(3000) h:2333.33333333-2520(2500) */
        }
    }

    /* List Ad Container */
    @container ads-container (width > calc(728px + 4rem)) and (width < calc(728px + 4rem + 160px)) and (height > calc(90px + 5rem)) {
        > div {
            display: flex;
            flex-flow: column nowrap;

            > picture {
                &:not(.leaderboard) {
                    display: none !important;
                }

                &.leaderboard {
                    --column-count: 1;
                }
            }

            /* leaderboard ads */ /* Explanation of height calculations: 
             * 90px (ad height) + 2rem (padding) + 1rem (gap between ads) + 2rem (caption height) + 1rem (gap between caption and ad container)
             * Fixed: padding, caption height, gap between caption and ad container => 5rem
             * Per ad: height + (gap between ads - 1rem)
             * (90px) + 5rem => 1 ads
             * (90px) + (90px + 1rem) + 5rem => 2 ads
             * (90px) + (90px + 1rem) + (90px + 1rem) + 5rem => 3 ads
             * Therefore... ((3 * (90px + 1rem)) - 1rem + 4rem)
             */
            @container ads-container (height > calc((1 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(1) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((2 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(2) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((3 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(3) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((4 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(4) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((5 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(5) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((6 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(6) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((7 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(7) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((8 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(8) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((9 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(9) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((10 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(10) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((11 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(11) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((12 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(12) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((13 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(13) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((14 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(14) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((15 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(15) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((16 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(16) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((17 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(17) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((18 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(18) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((19 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(19) {
                    display: block;
                }
            }
    
            @container ads-container (height > calc((20 * (90px + 1rem)) + 4rem)) {
                > picture.leaderboard:nth-of-type(20) {
                    display: block;
                }
            }
        }
    }
}