@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Poppinswght@300;0,600;0,900;1,300;1,600;1,900&display=swap");
    
@font-face {
  font-family: "Orelo Semi Condensed";
  src:
    local("Orelo SemiCondensed DemiBold Regular"),
    local("Orelo SemiCondensed DemiBold"),
    url("https://nestyourcss.com/assets/orelo-semicondensed-demibold.otf")
    format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Orelo Semi Condensed";
  src:
    local("Orelo SemiCondensed Bold Regular"),
    local("Orelo SemiCondensed Bold"),
    url("https://nestyourcss.com/assets/orelo-semicondensed-bold.otf")
    format("opentype");
  font-weight: 700 bold;
}

@font-face {
  font-family: "Orelo Semi Expanded";
  src:
    local("Orelo SemiWide Regular"),
    local("Orelo SemiWide"),
    url("https://nestyourcss.com/assets/orelo-semiwide.otf") format("opentype");
  font-weight: 400 normal;
}

@font-face {
  font-family: "Orelo Expanded";
  src:
    local("Orelo Wide DemiBold Regular"),
    local("Orelo Wide DemiBold"),
    url("https://nestyourcss.com/assets/orelo-wide-demibold.otf")
    format("opentype");
  font-weight: 600;
}