@keyframes scaleDown {
	1%, 99% { pointer-events: none; }

	0% { scale: 1; }
	50% { scale: calc(6/8); }
	100% { scale: calc(6/8); }
}

/* ((96vh {firstSectionHeight} + ((100vh {sectionHeight} + 50vh {gap})  * 4 {otherSectionsCount})) / 696 {totalHeight}) */
/* ((96 * 1) + ((100 + 50) * 4)) / 6.96% */

@keyframes fall {
	/* main */
	0% {
		opacity: 0;
		scale: 0.50;
		rotate: -42deg;
		translate: 80vw calc(max(-600dvh, -9600px) - 150%);
	}

	/* #reducingBoilerplateCode */
	13.7931034483% {
		opacity: 1;
		scale: 1;
		rotate: -42deg;
		translate: 0 calc(max(-600dvh, -9600px) + 0%);
	}

	/* #easierMaintenance */
	35.3448275862% {
		opacity: 1;
		scale: 0.75;
		rotate: 1 1 -2 90deg;
		translate: 0 calc(max(-450dvh, -7200px) + 50%);
	}

	/* #improvedCodeReadability */
	56.8965517241% {
		opacity: 1;
		scale: 1.25;
		rotate: 1 0 0 60deg;
		translate: 0 calc(max(-300dvh, -4800px) - 50%);
	}
	
	/* #groupingStylesTogether */
	78.4482758621% {
		opacity: 1;
		scale: 1.5;
		rotate: -60deg;
		translate: 0 calc(max(-150dvh, -2400px) + 66%);
	}

	/* mechanicsOfNesting */
	100% {
		opacity: 1;
		scale: 1;
		rotate: 0deg;
		translate: 0 50%;
	}
}

@keyframes idle {
	0% { translate: 0 0%; }
	
	100% { translate: 0 10%; }
}

@keyframes hover {
	0% { translate: 0 50%; }
	
	100% { translate: 0 60%; }
}

@keyframes repeatText {
  from {
    text-shadow:
      0 -0lh rgb(from var(--shades-darker) r g b / 1),
      0 -1lh rgb(from var(--shades-darker) r g b / var(--opacity-high)),
      0 -2lh rgb(from var(--shades-darker) r g b / var(--opacity-medium)),
      0 -3lh rgb(from var(--shades-darker) r g b / var(--opacity-low));
  }
	
  to {
    text-shadow: 
      0 -1lh rgb(from var(--shades-darker) r g b / var(--opacity-high)),
      0 -2lh rgb(from var(--shades-darker) r g b / var(--opacity-medium)),
      0 -3lh rgb(from var(--shades-darker) r g b / var(--opacity-low)),
      0 -4lh rgb(from var(--shades-darker) r g b / 0);
  }
}

@keyframes swapText {
	from { padding-top: 0lh; }
	
	to { padding-top: 1lh; }
}

@keyframes showText {
	to { text-shadow: 0 -1lh; }
}

@keyframes strikethrough {
	0% { translate: -100%; }
	
	50% { translate: 0%; }
	
	100% { translate: 100%; }
}

@keyframes slideDown {
	from {
		opacity: 0;
		padding-bottom: 20lh;
	}
	
	to {
		opacity: 1;
		padding-bottom: 0;
	}
}

@keyframes slideIn {
	0% { color: transparent; }
	50%, 75% { margin: 0; }
	62.5% { color: revert-layer; }
}

@keyframes boostUp {
	0% { padding-top: 5lh; }
	
	100% { padding-top: 0; }
}

@keyframes slideUp {
	to {
		padding-bottom: 32em;
	}
}

@keyframes changeCard {
	6% { z-index: -1; }
	
	6.25% {
		scale: 0.75;
		translate: 6em -6em;
		rotate: 20 -4 20 60deg;
		z-index: 1;
	}
	
	12.5% {
		z-index: 1;
		scale: none;
		translate: none;
		rotate: none;
	}
}

@keyframes slideInLines {
	from { translate: -3.25em calc(5lh + (var(--charIndex) * 1em)); }

	to { translate: 0; }
}

@keyframes viewed {}

@keyframes rotate {
	from { rotate: 0deg; }
	
	to { rotate: 360deg; }
}

@keyframes revealText {
	from { letter-spacing: -1.5ch; }

	0% { opacity: 0; }
	
	25% { opacity: 0.1; }
	
	50% { opacity: 0.3; }
	
	75% { opacity: 0.5; }
	
	100% { opacity: 1; }

	to { letter-spacing: 0ch; }
}

@keyframes widenGap {
	to {
		gap: 10ch;
		word-spacing: 0.2ch;
	}
}

@keyframes moveDown {
	from { translate: 0 -3lh; opacity: 0; }
	to { translate: 0 0; opacity: 1; }
}

@keyframes fadeUp {
	from { translate: 0ch 1.67em; opacity: 0; }
	to { translate: -0.96ch -0.31em; opacity: 1; }
}

@keyframes moveLeft {
	from {
		translate: calc(var(--align-left) + var(--code-editor-width) - var(--single-editor-width));
	}

	to {
		translate: calc(0% + 0px);
	}
}

@keyframes shadowRotate {
	0% {
		box-shadow:
			var(--animationControls),
			0em 0em 1em 0 var(--shades-black),
			1em 3em 0 -1em var(--color1),
			3em 0.5em 0 -1em var(--color2),
			2.5em 2.5em 0 -0.5em  var(--color3);
	}
	
	33% {
		box-shadow:
			var(--animationControls),
			0em 0em 1em 0 var(--shades-black),
			2.5em 2.5em 0 -0.5em  var(--color3),
			1em 3em 0 -1em var(--color1),
			3em 0.5em 0 -1em var(--color2);
	}
	
	67% {
		box-shadow:
			var(--animationControls),
			0em 0em 1em 0 var(--shades-black),
			3em 0.5em 0 -1em var(--color2),
			2.5em 2.5em 0 -0.5em  var(--color3),
			1em 3em 0 -1em var(--color1);
	}
	
	100% {
		box-shadow:
			var(--animationControls),
			0em 0em 1em 0 var(--shades-black),
			1em 3em 0 -1em var(--color1),
			3em 0.5em 0 -1em var(--color2),
			2.5em 2.5em 0 -0.5em  var(--color3);
	}
}

@keyframes onClick {
    from { --onClickValue2: var(--onClickValue1); }
}

/* ((96 * 1) + ((100 + 50) * 0)) / 6.96% */
@keyframes lightenBackgroundColour {
	/* main & #reducingBoilerplateCode */
	0%, 13.793103448% {
		background-color: var(--shades-black);
	}

	/* #easierMaintenance */
	35.3448275862% {
		background-color: rgb(from color-mix(in srgb, var(--shades-em-darker), var(--shades-black)) r g b);
	}

	/* #improvedCodeReadability */
	56.8965517241% {
		background-color: var(--sec-colour-darkest);
	}

	/* #groupingStylesTogether */
	78.4482758621% {
		background-color: var(--pri-colour-darkest);
	}

	/* #mechanicsOfNesting */
	100% {
		background-color: rgb(from color-mix(in srgb, var(--shades-em-darker), var(--shades-black)) r g b);
	}
}

@keyframes unblur {
	0% { filter: blur(1em); }
	100% { filter: blur(0); }
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}
	
@keyframes colour-rotate {
	0% {
		background-color: white;
	}

	100% {
		background-color: rgb(from white r g b / 0.25);
	}
}