@property --button-bg {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --icon-path-one-fill {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --icon-path-two-fill {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --nestBtn-shadow-colour-1 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

@property --nestBtn-shadow-colour-2 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}

@property --nestBtn-shadow-colour-3 {
  syntax: '<color>';
  inherits: true;
  initial-value: transparent;
}