@property --icon-colour {
	syntax: "<color>";
	inherits: false;
	initial-value: transparent;
}

@property --nestBtn-shadow-colour-1 {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}

@property --nestBtn-shadow-colour-2 {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}

@property --nestBtn-shadow-colour-3 {
  syntax: '<color>';
  inherits: false;
  initial-value: transparent;
}