/*!
  Theme: Base16 Snazzy
  Author: Tim Chinye (https://github.com/timchinye) based on Base16 Snazzy Theme (https://github.com/chawyehsu/base16-snazzy-scheme)
  License: Unlicense
  Last Updated: 01.04.2024
*/

.hljs {
	background-color: hsl(0deg 0% 22.5%);
    color: hsl(0deg 0% 90%);
}

.hljs ::selection,
.hljs::selection {
	background-color: hsl(0deg 0% 30%);
    color: hsl(0deg 0% 90%);
}

.hljs-comment {
    color: hsl(0deg 0% 45%);
}

.hljs-selector-tag,
.hljs-selector-class,
.hljs-selector-id {
    color: hsl(353deg 100% 67.5%);
}

.hljs-selector-pseudo {
    color: hsl(353deg 100% 78.5%);
}

.hljs-attribute {
    color: hsl(191deg 100% 67.5%);
}

.hljs-number {
    color: hsl(29deg 100% 67.5%);
}

.hljs-string {
    color: hsl(47deg 100% 78.5%);
}

.hljs-built_in {
    color: hsl(47deg 100% 67.5%);
}

.hljs-keyword {
    color: hsl(335deg 100% 67.5%);
}